:root {
    --white: #fff;
    --white-gray: #e0e0e0;
    --gray: #313131;
    --blue: #167CDA;
    --dark-blue: #1774ca;
    --blue-gray: #c5d2e5;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    color: var(--blue-gray);
    background-color: var(--gray);
    width: 500px !important;
    margin-top: 4rem;
    padding: 2rem !important;
}
/* Bootstrap buttons */
input:hover, input:focus, input:active {
    border: 1px solid #CED4DA !important;
    box-shadow: none !important;
}
.btn-primary, .btn-secondary {
    font-weight: bold !important;
    font-size: 14px !important;
    color: var(--white) !important;
    background-color: var(--white) !important;
    padding: 10px 15px !important;
    border-radius: 0 !important;
    border: 0 !important;
}
.btn-primary, .btn-primary:focus {
    background-color: var(--blue) !important;
    box-shadow: none !important;
}
.btn-primary:hover {
    background-color: var(--dark-blue) !important;
}
.btn-secondary, .btn-secondary:focus {
    background-color: var(--gray) !important;
    box-shadow: none !important;
}
.btn-secondary:hover {
    background-color: var(--gray) !important;
}
@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-height: 1050px) {
    .container {
        margin-top: 2rem ;
    }
}
@media screen and (max-height: 700px) {
    .container {
        margin-top: 0 !important;
    }
}